/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: orangered;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    
    margin: 0;
    font-style: oblique;
    
   
}

.attraction {
    background-color: white;
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text and images */
    font-size: larger;

    
}

.attraction h2 {
    color: #333;
    
}

.attraction img {
    display: inline;
    margin: 100px 0;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
